.inner {
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 15px;
  @include overTab {
    max-width: 1200px;
  }
  
  @include overTab {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 40px;
  }
}

.section {
  margin-top: 96px;
  @include overTab {
    margin-top: 160px;
  }
}

.util-ttl {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 1;

  @include overTab {
    font-size: 40px;
  }

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 60px;
    background: #3EA1D1;
    margin: 16px auto 0;
  }
}

.util-link {
  font-size: 14px;
  letter-spacing: .1em;
  color: #3EA1D1;
  border: 1px solid #3ea1d1;
  background-color: #fff;
  display: inline-block;
  padding: 10px 54px;
  cursor: pointer;

  &.-active {
    background-color: #3EA1D1;
    color: #fff;
  }

  @include overTab {
    &:not(.-submit) {
      &:hover {
        transition: background-color .4s, color .4s;
        background-color: #3EA1D1;
        color: #fff;
      }
    }
  }

}