.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .drawer-hamburger {
    .drawer--right & {
      right: 3px;
    }
  }

  .drawer-hamburger-icon {
    background: #3EA1D1;

    .drawer-open & {
      background-color: transparent;
    }

    &::before,
    &::after {
      background: #3EA1D1;
    }
  }
}

.header-inner {
  height: 60px;
  @include overTab {
    display: flex;
    align-items: center;
  }
}

.header-logo {
  width: 120px;
  padding-top: 14px;

  @include overTab {
    margin-top: -14px;
    width: 120px;
  }
}
.header-nav {
  top: 60px;
  background-color: #3EA1D1;
  padding: 24px 0;
  
  @include overTab {
    padding: 0;
    margin-left: auto;
    background-color: transparent;
  }
}

.header-nav-list {
  @include overTab {
    display: flex;
  }
}

.header-nav-item {
  & + & {
    @include overTab {
      margin-left: 46px;
    }
  }
}

.header-nav-item-link {
  display: block;
  height: 60px;
  line-height: 60px;
  letter-spacing: .1em;
  color: #fff;
  font-size: 18px;
  text-align: right;
  padding: 0 15px;

  @include overTab {
    display: block;
    height: 70px;
    line-height: 70px;
    letter-spacing: .1em;
    color: #333;

    &:hover {
      transition: color .4s;

      color: #3EA1D1;
    }
  }
}